# Локальная конфигурация для dev-окружения lpon-site.
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=insecure-dev-key-change-me-in-prod
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver,lpon.ru
DJANGO_ADMINS=YouName:you@email.com

# Доверенные источники для CSRF (важно для Docker/Nginx)
# Укажите здесь URL, по которому вы заходите на сайт (с протоколом и портом gunicorn)
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,http://testserver,https://lpon.ru

# ====== HASHIDS настройка для s_offer_skip32 ======
# Используется для кодирования ID коммерческих предложений в компактные, хаотичные коды (не криптографический хеш, а encoder).
# - OFFER_HASHIDS_SALT: секретная соль для кодирования (ВАЖНО! Менять для production!)
#   Только с солью можно декодировать, без нее невозможно восстановить ID
#   Генерируйте криптографически стойкую случайную строку: python -c "import secrets; print(secrets.token_hex(16))"
#   Содержит только буквы и цифры (безопасно для URL и QR-кода)
# - OFFER_HASHIDS_MIN_LENGTH: минимальная длина кода
#   6 символов = оптимально для каталогов до 100k коммерческих предложений
#   8 символов = для каталогов 100k-10M коммерческих предложений
#   Рекомендация: оставить 6 для начальной фазы, поменять на 8 при росте
OFFER_HASHIDS_SALT=your-super-secret-salt-for-production-change-me-now
OFFER_HASHIDS_MIN_LENGTH=6

# URL для доступа к админке Django (можно сменить для безопасности, чтобы  боты не могли её найти)
DJANGO_ADMIN_URL=admin/

# База данных (SQLite)
DJANGO_SQLITE_NAME=lpon-db.sqlite3

# Почта SMTP
DJANGO_EMAIL_HOST=smtp.mail.ru
DJANGO_EMAIL_PORT=2525
DJANGO_EMAIL_HOST_USER=you@email.com
DJANGO_EMAIL_HOST_PASSWORD=CHANGE_ME
DJANGO_EMAIL_FROM=you@email.com

# ==============================================
# Системные пути на хосте (ТОЛЬКО ДЛЯ ПРОДАКШЕНА)
# Используется скриптом для генерации корректного Nginx конфига и alias к media-файлам.
# На локальной машине разработчика (Dev) эта переменная игнорируется.
# В ПРОДАКШЕНЕ: Укажите полный путь к папке проекта на сервере
HOST_PROJECT_PATH=/home/user/docker-app/your-site


# ==============================================
# Настройки достпа к пакетам в репозитории, чтобы watchtower мог проверять их свежесть и скачивать
REPO_USER=xxxxx
REPO_PASS=xxxxx
