{# НИЖНИЙ POPUP О КУКУХ И ОТСЛЕЖИВАНИИ #}<div id="allow-tracking-popup" class="sticky bottom-0 z-50 bg-gray-100/80 dark:bg-slate-800/70 backdrop-blur ">
      <div class="max-w-7xl mx-auto px-4 py-8 border-b border-gray-200 dark:border-gray-800 grid grid-cols-[auto_1fr] gap-x-4
        px-4 py-0">
        <p class="flex-col px-6 py-6">
          В&nbsp;соответствии с&nbsp;<abbr title="General Data Protection Regulation">GDPR</abbr>
          и&nbsp;152-<abbr title="Федеральный закон">ФЗ</abbr>, уведомляем вас, что сайт lpon.ru с&nbsp;целью аналитики
          и&nbsp;улучшения своей работы использует файлы cookie и&nbsp;инструменты сбора обезли&shy;ченных данных
          о&nbsp;поведении пользо&shy;вателей.  Оставаясь на&nbsp;сайте, вы&nbsp;соглашаетесь с&nbsp;нашей
          <a href="/info/privacy-policy">политикой конфи&shy;денциаль&shy;ности</a>.
        </p>
        <button id="cookie-accept" class="text-lg px-6 py-2 my-6 border-2 rounded-md">Принять</button>
      </div>
    </div>{# / НИЖНИЙ POPUP О КУКУХ И ОТСЛЕЖИВАНИИ #}